<div>
	<h1>
	url: <a href="<%= item.url %>" target="_blank"><%= item.url %></a><br />
	hash: <a href="/<%= item.hash %>" target="_blank"><%= item.hash %></a><br />
	visits: <%= item.count %>
	</h1>
</div>


